<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALl Scores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>All Scores</h1>
    <div class="container">
        {%1 for score in all_scores %}
            <p>User ID: {{ score.user_id }}, Course: {{ score.course}}, Score: {{ score.score}}</p>
        {% else %}
            <p>No scores available.</p>
        {% end for %}
    </div>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>