body {
    background-color: lightsteelblue;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: royalblue;
    font-weight: bold;
    font-size: 30px;
    text-align: center; /* Centers text horizontally */
    width: 100%; /* Ensures the element spans the full width */
}


.un, .pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 27px;
    margin-left: 46px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18);
}

form.form1 {
    padding-top: 40px;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, royalblue, steelblue);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: block;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit:hover {
    background: lightsteelblue; /* This will change the background to yellow on hover */
    color: #000; /* Optional: Change text color to black for better contrast */
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: royalblue;
    text-decoration: none;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}



